<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Chats
      </div>
      <div class="panel-body">
        <div class="panel">
          <div class="panel-body">
            <% unless @rooms.blank? %>
              <%= render @rooms %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
